.mySwiper {
  display: flex;
  align-items: center;
  height: 72px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #333;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: 700;
}

.swiper-slide :hover {
  transform: scale(1.05);
}

.swiper-button-prev {
  color: #a80000;
}

.swiper-button-next {
  color: #a80000;
}
.swiper-button-next:hover {
  background-color: black;
  color: #a80000;

  text-shadow: 0 0 5px #a80000;
  transition: all 0.2s linear;
  transform: scale(1.6);
}
.swiper-button-prev:hover {
  background-color: black;
  color: #a80000;

  text-shadow: 0 0 5px #a80000;
  transition: all 0.2s linear;
  transform: scale(1.6);
}
