.swiper {
  display: flex;
  align-items: center;
  height: 72px;
  gap: 4px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #333;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: 700;
}
.swiper-slide :hover {
  z-index: 9;
  transform: scale(1.05);
}
